// ...
import { HttpClientModule/*BS*/, HTTP_INTERCEPTORS/*BE*/ } from '@angular/common/http';
/*BS*/import { AuthInterceptor } from './shared/auth.interceptor';/*BE*/

@NgModule({
  // ...
  providers: [/*BS*/
    {
      provide: HTTP_INTERCEPTORS,
      useClass: AuthInterceptor,
      multi: true
    }
  /*BE*/]
})
export class AppModule { }
